<ul class="nav navbar-nav">
  {{#link-to 'index' tagName="li"}}<a href="">Cold Staking</a>{{/link-to}}
  {{!-- {{#link-to 'simulator' tagName="li"}}<a href="">Cold Staking Simulator</a>{{/link-to}} --}}
</ul>